/* ----------  HEADER  ---------- */
/* ----------  HEADER  ---------- */
/* ----------  HEADER  ---------- */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

p {
	color: $colorParrafo;
	font-size: medium;
}

.navbar-brand__imagen {
	height: 50px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
}

.navbar-nav {
	
	display: flex;
	flex-direction: row;

	&__texto {
		color: rgb(131, 131, 131);
		font-size: 15px;
		font-weight: bold;
		padding-left: 10px;
		padding-right: 10px;
		text-decoration: none;
	}

}

