
/* Clase imagen de presentacion */

.presentacion {
    display: grid;
    grid-template-columns: 100%;
    width: 100%;
}

.presentacion__nadar {
    width: 100%;
}

/* Clase video de presentacion */

.presentacion__video {
    width: 100%;
    margin: 0%;
}

/* Clase parrafo azul HOME */

.azulHome {
    display: flex;
    flex-wrap: column;
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(2, 3, 87, 1) 35%, rgba(110, 180, 249, 1) 100%);
    min-height: 500px;
    width: 100%;
    padding: 100px;
    justify-content: center;
    align-items: center;
}

.azulHome__parrafo {
    position: relative;

    text-align: justify;
    font-size: 20px;
    font-weight: lighter;
}

/* Clase imagenes vinculadas a paginas */


.card {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding-top: 50px;
    justify-content: center;
    padding-bottom: 3rem;
    border: none;
}

.card__tarjeta {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 30px;
    margin: 0;
    width: 100%;
}

.card__imagen {
    position: relative;
    width: 80%;
    transition: width 0.1s;
}

.card__imagen:hover{
    width: 90%;
}

.card__titulo {
    color: rgb(111, 129, 187);
    font-size: xx-large;
    padding: 10px;
    font-weight: normal;
    transition: font-weight 0.1s;
}

.card__titulo:hover{
    font-weight: bold;
}

.card__span {

    color: rgb(131, 131, 131);
    font-size: 20px;
    font-weight: lighter;
    padding: 10px;
}
