/* ----------  PAGINA INSTALACIONES  ---------- */
/* ----------  PAGINA INSTALACIONES  ---------- */
/* ----------  PAGINA INSTALACIONES  ---------- */


.instalacionPresentacion {
	display: grid;
	grid-template-columns: 100%;
	width: 100%;
	justify-content: center;
}

.azulInstalacion {

	display: flex;
	flex-direction: column;
	background: $bgParrafo;
	min-height: 500px;
	width: 100%;
	padding: 100px;
	justify-content: center;
	align-items: center;

	&__escritos {
		display: flex;
		flex-direction: column;
	}

	&__titulo {
		position: relative;
		color: rgb(255, 255, 255);
		text-align: left;
		font-size: 25px;
		font-weight: bold;
		padding-bottom: 30px;
	}

	&__parrafo {
		position: relative;
		text-align: justify;
		font-size: $sizeParrafo;
		font-weight: lighter;
	}

}

.ubicacion {

	display: flex;
	margin-top: 100px;
	margin-bottom: 100px;
	justify-content: center;

	&__card {
		display: flex;
		flex-direction: column;
		padding: 60px;
	}

	&__encuentra {
		position: relative;
		color: rgb(83, 108, 122);
		padding-bottom: 80px;
		justify-content: left;
	}

	&__ahora {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: left;
	}
	
	&__imagen {
		width: 50px;
		padding-right: 10px;
	}

	&__texto {
		color: rgb(83, 108, 122);
		font-size: x-large;
	}

}

.buenosAires {

	display: grid;
	grid-template-columns: 50% 50%;
	width: 100%;
	justify-content: center;
	align-content: center;
	margin-bottom: 50px;

	&__preview {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	
	&__imagen {
		position: relative;
		width: 100%;
	}
	
	&__texto {
		position: absolute;
		color: white;
		font-size: 50px;
		text-align: center;
		transition: font-size 0.1s;
		&:hover {
			font-size: 60px;
		}
	}
	
	&__mapa {
		width: 100%;
		height: 100%;
	}
	
}

.mexico {

	display: grid;
	grid-template-columns: 50% 50%;
	width: 100%;
	justify-content: center;
	align-content: center;
	margin-bottom: 50px;

	&__preview {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	
	&__imagen {
		position: relative;
		width: 100%;
	}
	
	&__texto {
		position: absolute;
		color: white;
		font-size: 50px;
		text-align: center;
		transition: font-size 0.1s;
		&:hover {
			font-size: 60px;
		}
	}
	
	&__mapa {
		width: 100%;
		height: 100%;
	}

}


.nuevaYork {

	display: grid;
	grid-template-columns: 50% 50%;
	width: 100%;
	justify-content: center;
	align-content: center;
	margin-bottom: 50px;

	&__preview {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	
	&__imagen {
		position: relative;
		width: 100%;
	}
	
	&__texto {
		position: absolute;
		color: white;
		font-size: 50px;
		text-align: center;
		transition: font-size 0.1s;
		&:hover {
			font-size: 60px;
		}
	}
	
	&__mapa {
		width: 100%;
		height: 100%;
	}

}


.pronto {

	display: flex;
	width: 100%;
	margin-top: 150px;
	align-items: center;
	justify-content: center;

	&__imagen {
		width: 50px;
		padding-right: 10px;
	}
	
	&__texto {
		color: rgb(83, 108, 122);
		font-size: x-large;
		text-align: left;
	}

}


.proximas {

	display: grid;
	grid-template-columns: 45% 45%;
	margin-top: 150px;
	margin-bottom: 6rem;
	justify-content: space-evenly;

	&__preview {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__imagen {
		position: relative;
		width: 100%;
	}

	&__texto {
		position: absolute;
		color: white;
		font-size: 50px;
		transition: font-size 0.1s;
		&:hover {
			font-size: 60px;
		}
	}
	
}
