.instalacionPresentacion {
    display: grid;
    grid-template-columns: 100%;
    width: 100%;
    justify-content: center;
}

.azulInstalacion {
    display: flex;
    flex-direction: column;
    background: $bgParrafo;
    min-height: 500px;
    width: 100%;
    padding: 100px;
    justify-content: center;
    align-items: center;
}

.azulInstalacion__escritos {
    display: flex;
    flex-direction: column;

}

.azulInstalacion__titulo {
    position: relative;
    color: rgb(255, 255, 255);
    text-align: left;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 30px;
}

.azulInstalacion__parrafo {
    position: relative;
    text-align: justify;
    font-size: $sizeParrafo;
    font-weight: lighter;
}


/* Clase Ubicacion CERCANA */



.ubicacion {
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    justify-content: center;
}

.ubicacion__card {
    display: flex;
    flex-direction: column;
    padding: 60px;
}

.ubicacion__encuentra {
    position: relative;
    color: rgb(83, 108, 122);
    padding-bottom: 80px;
    justify-content: left;
}


.ubicacion__ahora {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: left;
}

.ubicacion__imagen {
    width: 50px;
    padding-right: 10px;
}

.ubicacion__texto {
    color: rgb(83, 108, 122);
    font-size: x-large;
}

/* Clase BUENOS AIRES*/


.buenosAires__card {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    justify-content: center;
    align-content: center;
    margin-bottom: 50px;
}

.buenosAires__preview {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buenosAires__imagen {
    position: relative;
    width: 100%;
}

.buenosAires__texto {
    position: absolute;
    color: white;
    font-size: 50px;
    text-align: center;
    transition: font-size 0.1s;
}

.buenosAires__texto:hover{
font-size: 60px;
}

.buenosAires__mapa {
    width: 100%;
    height: 100%;
}

/** Clase MEXICO*/


.mexico__card {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    justify-content: center;
    align-content: center;
    margin-bottom: 50px;
}

.mexico__preview {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mexico__imagen {
    position: relative;
    width: 100%;
}

.mexico__texto {
    position: absolute;
    color: white;
    font-size: 50px;
    text-align: center;
    transition: font-size 0.1s;
}

.mexico__texto:hover{
font-size: 60px;
}
.mexico__mapa {
    width: 100%;
    height: 100%;
}


/* Clase NUEVA YORK*/



.nuevaYork__card {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    justify-content: center;
    align-content: center;
    margin-bottom: 50px;
}

.nuevaYork__preview {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nuevaYork__imagen {
    position: relative;
    width: 100%;
}

.nuevaYork__texto {
    position: absolute;
    color: white;
    font-size: 50px;
    text-align: center;
    transition: font-size 0.1s;
}

.nuevaYork__texto:hover{
font-size: 60px;
}

.nuevaYork__mapa {
    width: 100%;
    height: 100%;
}

/* Clase PRONTO*/

.pronto {
    display: flex;
    width: 100%;
    margin-top: 150px;
    align-items: center;
    justify-content: center;
}

.pronto__imagen {
    width: 50px;
    padding-right: 10px;
}

.pronto__texto {
    color: rgb(83, 108, 122);
    font-size: x-large;
    text-align: left;
}

/* Clase PROXIMAS Ciudades */

.proximas {
    display: grid;
    grid-template-columns: 45% 45%;
    margin-top: 150px;
    margin-bottom: 6rem;
    justify-content: space-evenly;
}

.proximas__preview {
    display: flex;
    align-items: center;
    justify-content: center;

}

.proximas__imagen {
    position: relative;
    width: 100%;
}

.proximas__texto {
    position: absolute;
    color: white;
    font-size: 50px;
    transition: font-size 0.1s;
}

.proximas__texto:hover{
font-size: 60px;
}