/* ----------  MEDIA QUERIES  ---------- */
/* ----------  MEDIA QUERIES  ---------- */
/* ----------  MEDIA QUERIES  ---------- */

/*TABLET*/

@media screen and (max-width:990px) {
	
	/*HEADER*/

	.navbar-nav {
		width: 100%;
		justify-content: space-evenly;
	}

	/*INTALACIONES*/

	.buenosAires {
		grid-template-columns: none;
		grid-template-rows: repeat(2, 1fr);
	}
	.mexico {
		grid-template-columns: none;
		grid-template-rows: repeat(2, 1fr);
	}
	.nuevaYork {
		grid-template-columns: none;
		grid-template-rows: repeat(2, 1fr);
	}
	.buenosAires__texto {
		font-size: 30px;
	}
	.mexico__texto {
		font-size: 30px;
	}
	.nuevaYork__texto {
		font-size: 30px;
	}
	.proximas {
		justify-content: space-evenly;
	}

	/*INICIO*/

	.card__titulo {
		font-size: 20px;
	}

	/*NADADORES*/

	.contador {
		margin-bottom: 3rem;
		margin-top: 3rem;
	}
	.contador__titulo {
		font-size: 40px;
	}
	.contador__valor {
		font-size: 70px;
		transition: color 0.1s;
		transition: font-size 0.1s;
		&:hover {
			color: royalblue;
			font-size: 90px;
		}
	}
	.contador__texto {
		font-size: 40px;
	}

	/*CONTACTO*/

	.formulario__datos {
		flex-direction: column;
	}
	.formulario__nombre {
		width: 400px;
	}
	.formulario__apellido {
		width: 400px;
	}
	.formulario__email {
		width: 400px;
	}
	.formulario__comentario {
		width: 400px;
	}

}

/*MOBILE*/

@media screen and (max-width:599px) {

	/*HEADER*/
	.navbar-nav__texto {
		font-size: 12px;
		padding-left: 7px;
		padding-right: 7px;
	}

	/*INICIO*/

	.azulHome {
		padding: 20px;
	}
	.azulHome__parrafo {
		font-size: 17px;
	}
	.card {
		grid-template-columns: none;
		grid-template-rows: repeat(3, 1fr);
	}

	/*INSTALACIONES*/

	.azulInstalacion {
		padding: 20px;
	}

	.azulInstalacion__parrafo {
		font-size: 17px;
	}
	.proximas {
		grid-template-columns: none;
		grid-template-rows: repeat(2, 1fr);
	}

	/*NADADORES*/

	.azulNadadores {
		padding: 20px;
	}
	.azulNadadores__parrafo {
		font-size: 17px;
	}
	.contador {
		margin-bottom: 1rem;
		margin-top: 1rem;
	}
	.contador__titulo {
		font-size: 20px;
	}
	.contador__valor {
		font-size: 50px;
	}
	.contador__texto {
		font-size: 20px;
	}

	/*REGISTRO*/

	.azulRegistro {
		padding: 20px;
	}
	.azulRegistro__parrafo {
		font-size: 17px;
	}
	.secuencia {
		grid-template-columns: none;
		grid-template-rows: repeat(2, 1fr);
		justify-items: center;
		margin-top: 50px;
		align-content: center;
		justify-content: center;
	}
	.secuencia__listado {
		margin-left: 40px;
		margin-right: 40px;
		margin-bottom: 50px;
	}
	.secuencia__texto {
		font-size: 15px;
	}


	/*CONTACTO*/

	.azulContacto {
		padding: 20px;
	}
	.azulContacto__parrafo {
		font-size: 17px;
	}
	.formulario__datos {
		flex-direction: column;
		margin-top: 50px;
	}
	.formulario__nombre {
		width: 300px;
	}
	.formulario__apellido {
		width: 300px;
	}
	.formulario__email {
		width: 300px;
	}
	.formulario__comentario {
		width: 300px;
	}
	.formulario__noticias {
		font-size: 10px;
	}

	/*FOOTER*/

	.footer {
		grid-template-columns: none;
		grid-template-rows: repeat(2, 1fr);
	}
	.footer__iconos {
		margin-bottom: 10px;
	}
	.links {
		grid-template-columns: none;
		grid-template-rows: repeat(3, 1fr);
		margin-top: 20px;
		margin-bottom: 20px;
	}

}
