.azulRegistro {

	display: flex;
	flex-direction: column;
	background: $bgParrafo;
	min-height: 500px;
	width: 100%;
	padding: 100px;
	justify-content: center;
	align-items: center;

	&__escritos {
		display: flex;
		flex-direction: column;
	}
	
	&__titulo {
		position: relative;
		color: rgb(255, 255, 255);
		text-align: left;
		font-size: 25px;
		font-weight: bold;
		padding-bottom: 30px;
	}
	
	&__parrafo {
		position: relative;
		text-align: justify;
		font-size: $sizeParrafo;
		font-weight: lighter;
	}

}

.secuencia {
	display: grid;
	grid-template-columns: 40% 40%;
	align-items: center;
	justify-items: center;
	justify-content: center;
	margin-top: 6rem;
	margin-bottom: 6rem;

	&__listado {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
	}

	&__paso {
		display: flex;
		align-items: center;
		padding-top: 10px;
		padding-bottom: 10px;
		align-items: center;
	}

	&__imagen {
		position: relative;
		width: 10%;
		margin-right: 20px;
	}

	&__texto {
		position: relative;
		color: rgb(121, 131, 163);
		text-align: left;
		font-size: 20px;
		font-weight: bold;
	}

	&__qr {
		width: 60%;
		transition: width 0.1s;
		&:hover {
			width: 70%;
		}
	}

}


